*.o
.deps/
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
packaging/rpm/penaltybox.spec
stamp-h1
penaltybox
userthrottle
